# Environment
NODE_ENV=production

# Like service port
PORT=4003

# mongodb local
MONGO_HOST=127.0.0.1
MONGO_PORT=27017

# mongodb database name
MONGO_DB=like_service

# Azure cosmos db connection for production
COSMOS_STRING=azure-cosmos-connection-string

# Azure app insight connection string
APPINSIGHTS_CONNECTION_STRING=azure-connection-string
