# Environment
NODE_ENV=production

# frontend port
PORT=3000

# API gateway
API_GATEWAY=http://myapp:4000

# API base url. Domain used to connect to the api gateway.
API_BASE_URL=http://myapp:4000

# frontend url or domain you use to access the frontend.
FRONTEND_URL=http://myapp:3000

# Azure app insight connection string
APPINSIGHTS_CONNECTION_STRING=Azure-app-insight-connection-string