# Environment
NODE_ENV=production

# gateway port
PORT=4000

# JWT token expiry in hours.
JWT_EXPIRES_IN=1

# frontend url and port
FRONTEND_URL=http://myapp:3000

# auth service and port
AUTH_SERVICE=http://myapp:4001

# comment service and port
COMMENT_SERVICE=http://myapp:4002

# Like service and port
LIKE_SERVICE=http://myapp:4003

# photo service and port
PHOTO_SERVICE=http://myapp:4004

# JWT public key path
JWT_PUBLIC_KEY_PATH=/key/jwt_rsa.pub

# Azure monitor string
APPINSIGHTS_CONNECTION_STRING=azure-app-insight-connection-string

#optional, leave empty for localhost, docker compose. Set to parent domain only if cookies must be shared across subdomains
# Example: .francecentral.azurecontainerapps.io
COOKIE_DOMAIN=

