# Environment
NODE_ENV=production

# comment service port
PORT=4002

# Mongodb local connection
MONGO_HOST=127.0.0.1
MONGO_PORT=27017

# Mongodb database name
MONGO_DB=comment_service

# Production Azure cosmos db string
COSMOS_STRING=mongodb+srv://mongoadmin:7M74xwt8K4h7nxV@cosmos-photoapp-mongo.global.mongocluster.cosmos.azure.com/<DBNAME>?tls=true&authMechanism=SCRAM-SHA-256&retrywrites=false&maxIdleTimeMS=120000