# Environment
NODE_ENV=development

# photo service port
PORT=4004

# Local mongodb credentials
MONGO_HOST=127.0.0.1
MONGO_PORT=27017

# mongodb database name
MONGO_DB=photo_service

# Azure blob storage connection string for local or production.
AZURE_STORAGE_CONNECTION_STRING=UseDevelopmentStorage=true

# blob container name
AZURE_CONTAINER_NAME=photos

# Azure cosmos db connection string
COSMOS_STRING=azure-cosmos-connection-string

# Azure app insight connection string
APPINSIGHTS_CONNECTION_STRING=azure-app-insight-string
