# Environment
NODE_ENV=production

# Auth service port
PORT=4001

# Local mongo credentials.
MONGO_HOST=127.0.0.1
MONGO_PORT=27017

# specify mongodb database name
MONGO_DB=auth_service


#JWT expire
JWT_EXPIRES_IN=1

# Mongodb production connection string on azure (optional)
COSMOS_STRING=full-cosmos-connection-string

# JWT private key path
JWT_PRIVATE_KEY_PATH=/keys/jwt_rsa

# Azure app insight string
APPINSIGHTS_CONNECTION_STRING=azure-appinsight-string